html{
    font-size: 16px;
}

main{
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: red;
    margin: 0;
    font-size: 200%;
    font-family: "Bebas Neue", sans-serif;
}
h4{
    margin:0;
}
p{
    color: rgb(100, 0, 230);
}

header{
    
  position: sticky;
  top: 0;
  z-index: 1000; /* Para que quede por encima del resto */
  background-color: white; /* Para que no sea transparente y tape el contenido */
  

}
.headerContainer{
    display: grid;
    grid-template-columns: 0.5fr 1fr  1fr;
    grid-template-rows: 1fr 1fr; /* Ajusta según tus elementos: logo, nav, menú */
    align-items: center;
    background-color: #ccc;
    position: sticky;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.titulo{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    color: red;
    margin: 0;
}

.menu{
    background-color: #ccc;
    margin: 0 ;
    padding: 0;
    grid-column: 1 / 4; /* Que ocupe las 3 columnas, si quieres el menú abajo de todo */
    grid-row: 2 / 3; 
    
    
    
    
}
.nav{
    height: auto;
    margin-right: 0;
    
}

nav ul{
    list-style: none;
    display: flex;
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    
    margin: 0 10px;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    
}

.logo{
    grid-column: 1 / 2;
    grid-row: 1 / 2; 
    justify-self: start;
    align-self: center;
    height: 75px;
    margin-left: 16px;
    
}
.logo img{
    height: 100%;
    width: auto;
    display: block;
    
    
}

.animacion{
    transition: transform 0.2s ease-in-out;

}
.animacion:hover{
    transform: scale(1.1);
}





.pcolor{
    color: blue;
}


footer{
    background-color: burlywood;
}

.fa-instagram{
    font-size: 24px;
    color: red;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 5px solid black;
    height: 300px;

}

.item{
    
    border: 3px solid black;
    height: auto;
    width: 100px;
}

.Catalogo{
    
    height: auto;
    display: flex;
    flex: wrap ;
    justify-content: space-around;
    width: 500px;



}
.producto{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}


.grilla{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}


.item2{
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
}

