html{
    font-size: 16px;
}

main{
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: red;
    
    font-size: 200%;
    font-family: "Bebas Neue", sans-serif;
}

p{
    color: rgb(100, 0, 230);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    position: sticky;
    top: 0px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
}

.animacion{
    transition: transform 0.2s ease-in-out;

}
.animacion:hover{
    transform: scale(1.1);
}


.nav{
    height: auto;
    margin-right: 3%;
    
}

nav ul{
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 3px;
}


.pcolor{
    color: blue;
}


footer{
    background-color: burlywood;
}

.fa-instagram{
    font-size: 24px;
    color: red;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 5px solid black;
    height: 300px;

}

.item{
    
    border: 3px solid black;
    height: auto;
    width: 100px;
}

.Catalogo{
    
    height: auto;
    display: flex;
    flex: wrap ;
    justify-content: space-around;
    width: 500px;



}
.producto{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}


.grilla{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}


.item2{
    display: flex;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
}

